# ====== MySQL Source (Racktables) ====== #
DB_IP   = 'racktables02.eventim.net'
DB_PORT = '3306'
DB_NAME = 'racktables'
DB_USER = 'netbox'
DB_PWD  = '<SEE KEEPASS>'
# ====== Log settings ==================== #
LOGFILE   = 'migration.log'
DEBUG_LOG = 'debug.log'
CLEAN_LOG = 'clean_netbox.log'
STDOUT    = True  # print to STDOUT
DEBUG     = True  # write debug log
# ====== Device42 upload settings ========= #
# D42_USER = 'device42 user'
# D42_PWD  = 'device42 password'
# D42_URL  = 'https:// device42 server IP address'
# ====== NetBox upload settings ========= #
NETBOX_TOKEN = '<CREATE INSIDE NETBOX>'
NETBOX_URL   = 'https://netbox.eventim.net'
# ====== Other settings ========= #
CHILD_AS_BUILDING = True  # use RT's sub-location as Device42 building. If False, use it as a Device42 room.
ROW_AS_ROOM = True  # use RT's row as Device42 room.
# Note: Rooms are required because racks are mounted to rooms, not to buildings!
PDU_MOUNT = 'left'  # Can be one of: left, right, above, below. Used for Zero-U PDU migration. Default is 'left'
PDU_ORIENTATION = 'front'  # can be one of: front, back. Used for Zero-U PDU migration. Default is 'front'
